/* ========== Landing Style ========== */
#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-section img {
  position: absolute;
  width: var(--ls-full);
  height: var(--ls-full);
  object-fit: cover;
  min-width: 1280px;
}

.landing-text-box {
  z-index: 10;
}

.landing-text-box h1 {
  font-size: var(--fs-title);
  line-height: 1.4;
  font-weight: var(--fw-400);
}

.landing-text-box p {
  padding: var(--el-medium) 0;
  width: var(--ls-1-3);
}

/* ========== Meet Section Style ========== */
.meet-section .meet-wrapper {
  width: var(--ls-full);
  height: auto;
  display: flex;
  column-gap: var(--el-wide);
  align-items: center;
}

.meet-section .meet-text-box {
  width: var(--ls-1-2);
}

.meet-section .meet-text-box h4 {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
}

.meet-section .meet-text-box p {
  font-size: var(--fs-18);
  line-height: 1.8;
  width: 80%;
  padding: var(--el-wide) 0 var(--el-medium);
  position: relative;
}

.meet-section .meet-text-box p::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-black);
  left: 0;
  bottom: 0;
  position: absolute;
}

.meet-section span {
  font-size: var(--fs-18);
  padding-top: var(--el-medium);
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.meet-section span::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--color-black);
  display: block;
}

.meet-section .meet-image-box {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  column-gap: var(--el-medium);
}

.meet-section .meet-left-image {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: var(--el-medium);
  width: var(--ls-1-2);
}

.meet-section .meet-right-image {
  width: var(--ls-1-2);
}

.meet-section .meet-image-box img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

.meet-section .meet-image-box img:nth-child(2) {
  width: 80%;
}

/* ========== Features Section Style ========== */
.features-section.section {
  padding: var(--el-section-small) 0;
}

.features-section .features {
  width: var(--ls-full);
  height: auto;
  display: flex;
  justify-content: space-between;
}

.features-section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--ls-1-3);
  padding: var(--el-wide);
}

.features-section .feature h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
  padding: var(--el-medium) 0;
}

.features-section .feature p {
  font-size: var(--fs-small-text);
  text-align: center;
}

/* ========== Swiper Slide Style ========== */
.slider-section .container {
  position: relative;
}

.slider-section .swiper-slide {
  width: var(--ls-full);
  display: flex;
}

.slider-section .swiper-slide > div {
  width: var(--ls-1-2);
  padding: 0 var(--el-medium);
}
.slider-section .swiper-slide > div > img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

.slider-section .slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--el-medium);
}

.slider-section .swiper-slide.swiper-slide-active .slider-text {
  animation: show-up 0.5s 1;
  transform: translateY(40px);
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes show-up {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slider-section .slider-text h4 {
  font-size: 1.8rem;
  font-weight: var(--fw-400);
}

.slider-section .slider-text p {
  font-size: var(--fs-small-text);
  width: 90%;
}

.slider-section .slider-nav {
  background: #fff;
  color: var(--color-black);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--color-gray-3);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.swiper-button-next::after {
  left: 1.5rem;
}
.swiper-button-prev::after {
  right: 1.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2.25em;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: var(--color-black);
}

/* ========== Special Section Style_example.html ========== */
/* .special-offers.section {
  padding: var(--el-section-small) 0;
}

.special-offers .container {
  width: var(--ls-full);
  height: auto;
}

.special-offers h2 {
  text-align: center;
  font-size: var(--fs-title);
  font-weight: var(--fw-200);
}

.special-offers .products {
  width: var(--ls-full);
}

.special-offers .product-frame {
  display: flex;
}

.special-offers .product-item {
  width: var(--ls-1-3);
  padding: var(--el-wide);
}

.special-offers .product-item img {
  width: var(--ls-full);
}

.special-offers .product-text {
  text-align: center;
}

.special-offers .product-text h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
  padding: var(--el-medium) 0;
}

.special-offers .product-text p {
  font-size: var(--fs-small-text);
  text-align: center;
  padding: var(--el-medium) 0;
} */

/* ========== Special Section Style_index.html ========== */
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-frame {
  width: var(--ls-1-3);
  padding: var(--el-medium);
}

.product-frame img {
  width: var(--ls-full);
  border-radius: 0.25rem;
  height: 350px;
}

.product-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--el-normal);
  align-items: center;
  margin-top: var(--el-normal);
}

.product-text h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
}

.product-text strong {
  font-size: var(--fs-18);
}

.product-text p {
  font-size: var(--fs-small-text);
  padding: var(--el-medium);
}

/* ========== Review Style ========== */
.review-section {
  background: url(/main_project/images/review-background.jpeg) no-repeat center
    center;
  background-size: cover;
}

.review-section .reviews {
  display: flex;
  flex-wrap: wrap;
}

.review-section .review-frame {
  width: var(--ls-1-3);
  padding: var(--el-medium);
}

.review-section .review-item {
  background: #fff;
  padding: var(--el-wide);
  border-radius: 0.25rem;
  text-align: center;
}

.review-section .review-item p {
  font-size: var(--fs-small-text);
  margin-bottom: var(--el-medium);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* 말줄임 line-clamp */
}

.review-section .review-writer {
  display: flex;
  flex-direction: column;
  row-gap: var(--el-small);
  align-items: center;
}

.review-section .review-writer img {
  width: 5rem;
  border-radius: 50%;
}

.review-section .review-writer h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
}

.review-section .review-writer em {
  font-style: normal;
  font-size: var(--fs-small-text);
}

/* ========== Gallery Style ========== */
.gallery-section .gallery-wrapper {
  width: var(--ls-full);
  height: auto;
  max-height: 1000px;
  overflow: auto;
}

.gallery-section .grid-item {
  width: var(--ls-1-3);
  padding: var(--el-small);
  position: relative;
}

.gallery-section .grid-item img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

.gallery-section .grid-item .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.gallery-section .grid-item:hover .overlay {
  opacity: 1;
}

/* ========== Insta Style_self ========== */
/* .insta-section .insta-frame {
  width: var(--ls-full);
  height: auto;
  display: flex;
}

.insta-section .insta-item {
  width: var(--ls-1-3);
  padding: var(--el-small);
}

.insta-section .insta-image {
  width: var(--ls-full);
  display: flex;
}

.insta-section .insta-left {
  width: var(--ls-1-2);
  padding: var(--el-small);
}

.insta-section .insta-right {
  width: var(--ls-1-2);
  padding: var(--el-small);
}

.insta-section .insta-item img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

.insta-frame .insta-text {
  text-align: center;
  padding: var(--el-medium);
}

.insta-section .insta-text h4 {
  font-size: var(--fs-title);
  font-weight: var(--fw-400);
}

.insta-section .insta-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-section .insta-sub i {
  padding-right: 0.25rem;
} */

/* ========== Insta Style ========== */
.insta-section .insta-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .insta-section .insta-wrapper > div {
  width: var(--ls-1-2);
} */

.insta-section .insta-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.insta-section .insta-image > div {
  width: calc(var(--ls-1-2) - 0.25rem);
}

.insta-section .insta-image img {
  width: var(--ls-full);
  border-radius: 0.25rem;
  object-fit: cover;
}

.insta-section .insta-left-image .insta-grid-1 {
  display: flex;
  align-items: center;
}

.insta-section .insta-grid-2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.insta-section .insta-right-image .insta-grid-1 {
  display: flex;
  align-items: flex-end;
}

.insta-section .insta-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: var(--el-normal);
}

.insta-section .insta-info h4 {
  font-size: var(--fs-title);
  font-weight: var(--fw-400);
}

.insta-section .insta-id {
  font-size: var(--fs-small-text);
  display: flex;
  align-items: center;
  column-gap: var(--el-small);
}

.insta-section .insta-id i {
  font-size: var(--fs-20);
}
